<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-black">
            <h1 class="text-primary">Terms and Policies</h1>
            <h4>1. Acceptance of Terms and Conditions</h4>
            <p>By using this website and/or related hair-cutting booking services, you agree to comply with and be bound by the following terms and conditions along with all applicable laws and regulations. If you do not agree to any part of these terms, please do not use or access this website.</p>
            <h4>2. Intellectual Property Rights</h4>
            <p>All content and resources on this website are our property or licensed to us and are only for personal and non-commercial use. Copying, distributing, or reusing any content from this website for commercial purposes without our prior written permission is copyright infringement and will be legally pursued.</p>
            <h4>3. User Rights and Responsibilities</h4>
            <p>Users are responsible for providing accurate and up-to-date information when booking hair-cutting appointments. We are not liable for any inaccurate or incomplete information provided by users.</p>
            <h4>4. Cancellation Policy</h4>
            <p>If a customer arrives more than 15 minutes late for a scheduled appointment, the appointment will be canceled without prior notice.</p>
            <h4>5. Privacy</h4>
            <p>We are committed to protecting your personal information and using it only for the purpose of hair-cutting appointments. </p>
            <h4>6. Changes to Terms and Policies</h4>
            <p>We reserve the right to change these terms and policies at any time without prior notice. Continuing to use this website after changes implies your acceptance and agreement to the new terms and policies.</p>
            <h4>
                7. Contact
            </h4>
            <p>If you have any questions or suggestions regarding our terms and policies, please contact us via the email address or phone number provided on the website.</p>
        </div>
    </div>
</div>