@model Hair_Salon_Web_ASP.NET.Models.Post

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link rel="stylesheet" href="~/style.css">
</head>
<div class="row card align-content-center" style="background-color:lightgrey">
    <div class="col-md-4 card-body" style="background-color:#EEE8AA">
        <h1 class="lable text-center mb-3">Update Post</h1>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="post_id" />
            <div class="form-group mb-2">
                <label class="control-label lable">Choose Date:</label>
                <input type="date" asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label lable">Enter The Title(*):</label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label  class="control-label lable">Choose Image(*):</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label  class="control-label lable">Enter Description:</label>
                <textarea asp-for="description" class="form-control form-control-lg" rows="5" style="overflow-y: auto;"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
