<!DOCTYPE html>
<html>
 <head>
    
    <link rel="stylesheet" href="~/style.css">
    <title>Access Denied</title>

 </head> 
 
<body>
    <h1 class="text-danger text-center" style="font-size:80px">Access Denied</h1>
    <p class="lable text-center" style="margin-bottom:200px; font-size:40px">You do not have permission to access this page.</p>
   
    <div> <a href="/">Back to Home</a></div>
</body>

</html>
