<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/style.css">
    <title>Not Found</title>

</head>

<body>
    <h1 class="text-danger text-center" style="font-size:80px">Not Found</h1>
    <p class="lable text-center" style="margin-bottom:200px; font-size:40px">The object is not found</p>

    <div> <a href="/">Back to Home</a></div>
</body>

</html>